
<h1>Listing articles</h1>
<script>
  setTimeout(function(){
    location = '<%=articles_path%>'
  }, 10000)
</script>

<%#= link_to 'New article', new_article_path %>
<div class="table-responsive">
 <p>page refresh every 5 seconds</p>
  <table class='table table-sm table-striped table-hover'>
    <thead>
      <tr>
        <th width='5%'>Id</th>
        <th width='30%'>Text</th>
        <th>Crop</th>
        <th>Image link</th>
        <th width='10%'>create_time (+from above)</th>
        <th></th>
      </tr>
    </thead>

    <% @articles.each do |article| %>
      <% text = article.text %>
      <% filename = article.filename %>
      <% crop_file_name = filename.dup %>
      <% crop_file_name = crop_file_name.insert(crop_file_name.index('.'), '_c') %>
      <% color = if text.include?('+')
                   'text-success'
                 elsif text.include?('-')
                   'text-danger'
                 end
      %>
      <tr>
        <td><%= article.id %></td>
        <td class='<%=color=%>'><b><%= text %></b></td>
        <td><img src='<%="/uploads/#{crop_file_name}"%>' /></td>
        <td><%= link_to filename, "/uploads/#{filename}", target: '_blank' %></td>
        <td><%= @last_create_at ? distance_of_time_in_words(article.created_at, @last_create_at) : '-'%></td>
        <td><%= link_to 'X', article_path(article), method: :delete, title: 'delete' %></td>
      </tr>
    <% @last_create_at = article.created_at %>
    <% end %>
  </table>
</div>