
<h1>Listing articles</h1>
<script>
  setTimeout(function(){
    location = '<%=articles_path%>'
  }, 5000)
</script>

<%#= link_to 'New article', new_article_path %>
<div class="table-responsive">
 <p>page refresh every 5 seconds</p>
  <table class='table table-sm table-striped table-hover'>
    <thead>
      <tr>
        <th>Id</th>
        <th>Text</th>
      </tr>
    </thead>
  
    <% @articles.each do |article| %>
      <% text = article.text %>
      <% color = if text.include?('+')
                   'text-success'
                 elsif text.include?('-')
                   'text-danger'
                 end
      %>
      <tr>
        <td><%= article.id %></td>
        <td class='<%=color=%>'><%= text %></td>
        <td><%= link_to article.filename, "/uploads/#{article.filename}", target: '_blank' %></td>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>      
      </tr>
    <% end %>
  </table>
</div>