
<h1>Listing articles</h1>
<script>
  const setLocation = () => location = '<%=articles_path%>';
  let timer = setTimeout(setLocation, 10000)
</script>

<%#= link_to 'New article', new_article_path %>
<div class="table-responsive">
 <label><%= check_box :article, :refresh, checked: 'checked'  %> page refresh every 10 seconds</label>
  <table class='table table-sm table-striped table-hover'>
    <thead>
      <tr>
        <th width='5%'>Id</th>
        <th width='25%'>Text</th>
        <th>Crop</th>
        <th>Image link</th>
        <th>Created</th>
        <th>Client</th>
        <th class='text-right' width='3%'>(+^)</th>
        <th></th>
      </tr>
    </thead>

    <% @articles.each do |article| %>
      <% text = article.text %>
<%
  filename = article.filename
  crop_file_name = nil
  unless filename.nil?
    crop_file_name = filename.dup
    crop_file_name = crop_file_name.insert(crop_file_name.index('.'), '_c')
  end
%>
      <% color = if text.include?('+')
                   'text-success'
                 elsif text.include?('-')
                   'text-danger'
                 end
      %>
      <tr>
        <td><%= article.id %></td>
        <td class='<%=color=%>'><b><%= text %></b></td>
        <td><img src='<%="/uploads/#{crop_file_name}"%>' /></td>
        <td><%= link_to filename, "/uploads/#{filename}", target: '_blank' %></td>
        <td><%= article.created_at.localtime().strftime('%T') %></td>
        <td><%= article.client %></td>
        <td class='text-right'><%= @last_create_at ? ((@last_create_at - article.created_at)/1.second).to_i : '-'  %></td>
        <td><%= link_to 'X', article_path(article), method: :delete, title: 'delete' %></td>
      </tr>
    <% @last_create_at = article.created_at %>
    <% end %>
  </table>
</div>

<script>
  const chkBoxChange = (event) => {
    const checked = event.currentTarget.checked;
    if (checked) {
      timer = setTimeout(setLocation, 10000)
    } else {
      clearTimeout(timer)
    }
  }
  let chkbox = document.getElementById('article_refresh');
  chkbox.addEventListener('change', chkBoxChange);
</script>